/* border: 1px solid #f00; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
}
h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;
	font-style: normal;
}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.text_white {
	color: #fff;
}
.clear {
	clear: both;
}
/* grid */
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

input,textarea, button {
	outline: none;
}
/* start header */
header {
	position: relative;
	padding-top: 15px;
	height: 100px;
	z-index: 1;
}
header .logo {
	text-align: center;
}
/* end header */
.banner {
	position: relative;
	height: 650px;
	background: linear-gradient(0deg, #ffa8a8, #fcff00);
	padding-top: 170px;
	overflow: hidden; /* доч.элементы не будут выходить за границу блока, как logo*/
	z-index: 0;
}
.banner-text, .banner-tick, .banner-img {
	margin: 0 auto;
	text-align: center;
}
.banner-text h1 {
	font-size: 40px;
}
.banner .banner-text h1 span {
	font-family: "RedRingBlack", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.banner-tick samp{
	font-size: 5em;
	font-weight:bold;
	color: rgba(0, 0, 0, 0.4);
}
.banner-img {
	margin-top: 35px;
	}
/* end section.banner */
/* section.definition */
.definition {
	padding: 105px 0;
}
.definition-item {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: 0 30px;
	text-align: center;
}
.definition-item h3 {
	font-family: "ProximaNovaThin", sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}
.icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 25px 0;
}
.icon.innovative {
	background: url("images/lamp.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.icon.unlimited {
	background: url("images/infinity.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.icon.trendy {
	background: url("images/trendy.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.definition .definition-item p {
	width: 75%;
	margin: 0 auto;
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	text-align: justify;
}
/* end section definition */
section.form {
	padding: 105px 0;
	text-align: center;
	background-color: #f8f6f6;
}
section.form h2 {
	font-size: 24px;
	margin-bottom: 50px;
}
section.form form {
	display: inline-block;
	width: 60%;
}
form input, form textarea {
	width: 100%;
	font-size: 18px;
	color: #000;
	border: 2px solid #ffa8a8;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
}
form input {
	height: 40px;
}
 form textarea {
	height: 200px;
	resize: none;
}
.btn {
	display: inline-block;
	height: 45px;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 10px 10%;
	text-align: center;
	border:none;
	/* colorzilla - создание градиента */
	background-image: linear-gradient(to right, #ffaaaa 0%, #ffff00 51%, #ffaaaa 100%);
	background-size: 200% auto; /* для перехода слева направо при наведении */
	transition: 0.4s;
	cursor: pointer;
}
.btn:hover {
	background-position: right center;
}
/* end section.form */
/* footer */
footer {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	text-align: center;
	height: 92px;
	background-color: #ffa8a8;
	text-transform: uppercase;
}
footer span{
	display: inline-block;
	margin:30px 0;
}
